<div class="menu-dashboard" th:fragment="panelAdmin">
	        <!-- TOP MENU -->
	        <div class="top-menu">
	            <div class="logo">
	                <img src="./img/logo.svg" alt="">
	                <span>TravelNest</span>
	            </div>
	            <div class="toggle">
	                <i class='bx bx-menu'></i>
	            </div>
	        </div>
	        <!-- INPUT SEARCH -->
	        <div class="input-search">
	            <i class='bx bx-search'></i>
	            <input type="text" class="input" placeholder="Buscar">
	        </div>
	        <!-- MENU -->
	        <div class="menu">
	            <div class="enlace">
	                <i class="bx bx-grid-alt"></i>
	                <span>Dashboard</span>
	            </div>

	            <div class="enlace">
	                <i class="bx bx-user"></i>
	                <span>Usuarios</span>
	            </div>

	            <div class="enlace">
	                <i class="bx bx-grid-alt"></i>
	                <span>Establecimientos</span>
	            </div>

	            <div class="enlace">
	                <i class="bx bx-message-square"></i>
	                <span>Reseñas</span>
	            </div>
				
	            <div class="enlace">
	                <i class="bx bx-cog"></i>
	                <span>Configuración</span>
	            </div>
	        </div>
	    </div>
	    