/* Modo oscuro para toda la página */
.dark-mode {
    background-color: #3b3838 !important;
    color: white !important;
}

/* Cambia los fondos de las secciones principales */
.dark-mode .sub-header,
.dark-mode .header-area,
.dark-mode footer {
    background-color: #3b3838;
    color: white;
}


/* Ajusta los botones */

.dark-mode .nav a,
.dark-mode .btn{
    color: white;
}
.dark-mode .header-area h1{
	color: white;
}
.dark-mode .header-area a{
	color: white;
}


/* Cambia el fondo de los inputs */
.dark-mode input, 
.dark-mode textarea{
    background-color: #3b3838;
    color: white;
    border: 1px solid #3b3838;
}