<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" th:href="@{css/panelAdmin.css}">
   	<script th:src="@{js/panelAdmin.js}" defer></script>
   	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{css/panelAdmin.css}">
    <link rel="icon" type="image/png" th:href="@{/images/Logo-TravelNest.png}">
    
</head>
<body>
	<div class="row">
	<div th:replace="layout/menuAdmin :: panelAdmin" class="col"></div>
	<div class="col">
			<div class="jumbotron jumbotron m-4">
				<div class="container">
					<h1 class="display-4">
						Bienvenido <span class="text-capitalize text-primary" th:text="${usuarioLogueado.nombre}"></span>
						a el panel de administracion de  TravelNest
					</h1>
					<p class="lead">Aplicativo web para la gestión de tus planes de viaje y visita a la 
					ciudad de cartagena</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
	
	
	