<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Resena </title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="icon" type="image/png" th:href="@{/images/Logo-TravelNest.png}">
</head>
<body class="bg-light">
	
	<form th:action="@{/resena/registrar}" th:object="${resenaDto}" method="post">
	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
	
	
    <h4 th:text="'Reseña para: ' + ${nombreEstablecimiento}"></h4>
    <input type="hidden" th:field="*{establecimientoId}" />
    
    <div class="mb-3">
        <label for="comentario">Comentario</label>
        <textarea th:field="*{comentario}" class="form-control" required></textarea>
    </div>

    <div class="mb-3">
        <label for="calificacion">Calificación</label>
        <input type="number" min="0" max="5" th:field="*{calificacion}" class="form-control" required>
    </div>

    <button type="submit" class="btn btn-primary">Enviar Reseña</button>
</form>
	

</body>
</html>

